<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/PC/IdeaProjects/Scientific_Calculator">

        <classes>
            <class name="Addition"></class>
            <class name="Subtraction"></class>
            <class name="Multiplication"></class>
            <class name="Division"></class>
            <class name="ValueOfPi"></class>

        </classes>
    </test>
</suite>